<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>MyBlogProject</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-logo"><a href="/">My Blog Project</a></p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="post"><a href="/compose">НОВЫЙ ПОСТ</a></li>
          <li id="about"><a href="/about">ОБО МНЕ</a></li>
          <li id="contact"><a href="/contact">ДЛЯ СВЯЗИ</a></li>
        </ul>
    </div>
  </nav>

</head>
  <body>



    <div class="container">
