<%- include("partials/header"); -%>
<!-- Вывожу заголовок и содержимое каждого нового поста, введенные на странице "Новый пост"-->
<div class="col col-sm-9">
  <h1 class="post-title"><%=title%></h1>
  <p class="post-p"><%=content%></p>
</div>


<%- include("partials/footer"); -%>
